@import "mixins.less";

// Index page  //


#profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#title {
    font-size: @fontSize;
    text-align: center;
    margin: @margin;
    color: @indextext;
       
}

#explain {
    text-align: center;
    margin: 0px auto 30px auto;
    color: @indextext;
}

footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  color: @indextext;
  text-align: center;
    
}
//  Image code //

#j_image {
    height: 100px;
    width: 150px;
    border: @border;
    border-radius: @border_radius;   
}
#c_image {
    height: 100px;
    width: 150px;
    border: @border;
    border-radius: @border_radius;   
}
figcaption {
    text-align: center;
    color: @indextext;
}

// Back page code //
#back_home {
    margin-top: 10px;
    margin-left: 5px;
}
#back_home a {
    color: white;
}
//    Jonas code   //    
    

#j_whole {
    .whole_frame(@Jonas_color, @border, @margin, @padding, @width, @height, @border_radius);
}

#j_card_frame  {
    .card_frame(@JonascardColor,@cardBorder, @cardPadding, @cardBorder_radius, @fontSize, @cardMargin) 
}

#j_description {
    .description(@JonascardColor, @des_border, @des_padding, @des_border_radius)

}
//   Curtis code   // 
    
#c_whole {
    .whole_frame(@Curtis_color, @border, @margin, @padding, @width, @height, @border_radius);
}

#c_card_frame  {
    .card_frame(@CurtiscardColor,@cardBorder, @cardPadding, @cardBorder_radius, @fontSize, @cardMargin) 
}

#c_description {
    .description(@CurtiscardColor, @des_border, @des_padding, @des_border_radius)
}

#main_picture {
    background-color: lighten(@baseColor,60);
    border: 2px solid black;
    height: 305px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px auto 0px auto;
    
}
#pic {
    max-height: 100%;
    max-width: 100%;
    margin: 0px auto 0px auto;
}

#description {
    background-color: lighten(@baseColor,15);
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    
} 

#text {
    background-color: lighten(@baseColor,60);
    border: 2px solid black;
    padding: 40px;
    height: 100px;      
}

ul li {
    list-style-type: upper-roman;
}

body {
    background-color: #6dc4c7;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* body {
    background: @JonascardColor;
    background: linear-gradient(0deg, @JonascardColor 0%, @CurtiscardColor 100%);
} */